.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .mat-card-title {
    font-size: 20px;
    color: blue;
    text-align: center;
  }
  .mat-card-content {
    text-align: left;
    width: 100%;
    display:inline-block;
    height: 160px;
  }
  .mat-card {
    padding: 8px 10px 10px 10px;
    width:160px;
    height: 210px;
    background-color: lightyellow;
    margin: 10px;
    border: solid chocolate 2px;
    border-radius: 6px;
    display: inline-table;
  }
  .mat-card-header {
    display:block;
  }
  .mat-card-title {
    font-size: 20px;
    color: chocolate;
    text-align: center;
  }
  .inLine {
    display: inline-block;
  }
  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }


